/* Custom Stylesheet */


/* Schrijf hier je aanpassingen die specifiek voor MIN zijn
en die bovenop materialize komen */

body {
    background-color: #eee;
    color: darkblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



/* Ruben: */
footer a {
    color: #fff;
    text-decoration: underline;
}

.vet {
    font-weight: bold;
}



/*Van Vincent*/
.kleinetitels {
    font-size: 20px;
    padding-top: 20px;
}

/*van ruben*/
.card {
    width: 400px;
}
